*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    background-color: #b3aeff;
    text-align: center;
}

.Intro{
    width: 100%;;
}

.card-container{
    width: 100%;
    margin-bottom: 16px;
}

.Project{
    background-color: #b3aeff;
}

footer{
    margin-top: 24px;
    background-color: #b3aeff76;
}

@media (min-width: 768px){
    .card-container article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }
}